@charset "utf-8";

body {
	font-family: sans-serif;
}
h1 {
	font-size: 21px;
}
h2 {
	font-size: 18px;
}
p {
	margin-top: 0;
	margin-bottom: 0;
}
body {
	line-height: 1.7;
}
.lead {
	font-weight: bold;
}
p {
	text-align: justify;
}
body {
	color: #002a5a;
}
.important {
	color: #ff0000;
}
p {
	color: #0073bc;
}
p:link {
	color: #0073bc;
}
p:visited {
	color: #0073bc;
}
p:hover {
	color: #b7dbf2;
}
p:active {
	color: #4ca4e8;
}
.subnav ul {
	margin: 0;
	padding: 5;
	border: 5px solid #cccccc;
	list-style-type: none;
	background-color: #fafafa;
}


